@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: rgb(51, 58, 110);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: "Ubuntu Mono", monospace;
    color:rgb(218, 140, 44);
}

h1 {
    font-family: "Space Mono", monospace;
    color: darkorange;
}

.game-name {
    font-family: "Ubuntu Mono", monospace;
    color:white;
}

.search-input {
    font-family: "Space Mono", monospace;
    color: white;
    background-color: hsla(33, 100%, 50%, 0);
    border-color: rgba(255, 140, 0, 0);
    border-radius: 10px;
    border-width: 3px;
    height: 20px;
    width: 270px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-style:solid;
    align-self: center;
    padding: 2px 0px 0px 40px;
}

.search-input::placeholder {
    color: darkorange
}

.search-input:focus {
    /* Removes the default glow/outline when the input is clicked */
    outline: none;
    box-shadow: none;
}

/*#container {
    display: inline-grid;
    grid-column: 1fr 1fr 1fr;
    gap: 40px;
}

#container div{
    align-content: left;
}*/

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container div {
  padding: 10px;

}

.download {
    font-family: "Space Mono", monospace;
    color: white;
    background-color: hsla(0, 100%, 50%, 0.5);
    border-color: rgb(255, 0, 0);
    border-radius: 10px;
    border-width: 3px;
    height: 30px;
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-style:solid;
}

.play {
    font-family: "Space Mono", monospace;
    color: white;
    background-color: hsla(100, 100%, 50%, 0.5);
    border-color: rgb(0, 255, 0);
    border-radius: 10px;
    border-width: 3px;
    height: 30px;
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-style:solid;
}

#game-buttons {
    display: grids;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    cursor: pointer;
}

hr {
    border-color: darkorange;
    border-width: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-style:solid;
}

.input-wrapper {
    font-family: "Space Mono", monospace;
    color: white;
    background-color: hsla(33, 100%, 50%, 0.5);
    border-color: rgba(255, 140, 0, 1);
    border-radius: 10px;
    border-width: 3px;
    height: 30px;
    width: 300px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-style:solid;
    position: relative;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 20px;
    height: 20px;
}